
.a-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 60px auto;
}

.profile-card, .risk-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.avatar {
    background-color: #4a90e2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.risk-score {
    font-weight: bold;
    display: inline-block;
}

.risk-icon {
    font-size: 20px;
    display: inline-block;
}
